/*!==============================
 * Theme Name: Wedding
 * Theme URL: https://probootstrap.com/wedding-free-onepage-html5-template-using-bootstrap
 * Author: ProBootstrap.com
 * Author URL: https://probootstrap.com
 * License: Released for free under the Creative Commons Attribution 3.0 license (probootstrap.com/license)
 */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?1z9v6x");
  src: url("../fonts/icomoon/icomoon.eot?1z9v6x#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?1z9v6x") format("truetype"), url("../fonts/icomoon/icomoon.woff?1z9v6x") format("woff"), url("../fonts/icomoon/icomoon.svg?1z9v6x#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  overflow-x: hidden;
  font-size: 1.25em;
}

body {
  background: #ffffff;
  color: #8b8e94;
  line-height: 1.7;
  font-size: 18px;
  font-family: "Dancing Script", cursive;
  /* font-family: "Alice", serif; */
}

::-moz-selection {
  background: #000000;
  color: #ffffff;
}

::selection {
  background: #000000;
  color: #ffffff;
}

::-moz-selection {
  background: #000000;
  color: #ffffff;
}

h1, h2, h3, .text-intro-wrap .text-intro h2, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: 900;
  line-height: 1.2;
  /* font-family: "Zilla Slab", serif; */
  font-family: 'Dancing Script', cursive;
  color: #b1b881;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {
  font-size: 2.827em;
}

h3, .text-intro-wrap .text-intro h2 {
  font-size: 1.999em;
}

h4 {
  font-size: 1.414em;
}

small, .font_small {
  font-size: 0.707em;
}

p, ul, ol {
  margin-bottom: 1.3em;
}

a {
  -webkit-transition: .3s all;
  transition: .3s all;
  color: #b1b881;
}

a:hover, a:focus, a:active {
  color: #a7af71;
  text-decoration: none;
}

.probootstrap-navbar {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
  margin-bottom: 0px;
  background: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 200;
}

@media screen and (max-width: 768px) {
  .probootstrap-navbar {
    background: white;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  }
}

.probootstrap-navbar .navbar-toggle:focus,
.probootstrap-navbar .navbar-toggle:hover {
  background-color: transparent;
}

.probootstrap-navbar .navbar-toggle {
  border: none;
}

.probootstrap-navbar .navbar-toggle span.icon-bar {
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.probootstrap-navbar .navbar-toggle span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
}

.probootstrap-navbar .navbar-toggle span:nth-child(3) {
  opacity: 0;
}

.probootstrap-navbar .navbar-toggle span:nth-child(4) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
  transform-origin: 10% 90%;
}

.probootstrap-navbar .navbar-toggle.collapsed span:nth-child(2),
.probootstrap-navbar .navbar-toggle.collapsed span:nth-child(4) {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

.probootstrap-navbar .navbar-toggle.collapsed span:nth-child(3) {
  opacity: 1;
}

.probootstrap-navbar .parent-nav-link-padding, .probootstrap-navbar .navbar-brand, .probootstrap-navbar .navbar-nav > li > a {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 15px;
  margin-right: 15px;
}

@media screen and (max-width: 768px) {
  .probootstrap-navbar .parent-nav-link-padding, .probootstrap-navbar .navbar-brand, .probootstrap-navbar .navbar-nav > li > a {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
  }
}

.probootstrap-navbar .dropdown-header {
  color: rgba(255, 255, 255, 0.2);
  padding-left: 10px;
  text-transform: uppercase;
}

.probootstrap-navbar .dropdown > a {
  padding-right: 10px !important;
  position: relative;
  display: block;
}

@media screen and (max-width: 480px) {
  .probootstrap-navbar .dropdown > a {
    display: block;
    padding-right: 0px;
  }
}

.probootstrap-navbar .dropdown > a:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: -10px;
  margin-top: -11px;
  content: "\e924";
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: .3s all;
  transition: .3s all;
}

@media screen and (max-width: 768px) {
  .probootstrap-navbar .dropdown > a:before {
    color: rgba(0, 0, 0, 0.2);
  }
}

.probootstrap-navbar .dropdown > a:hover:before {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.probootstrap-navbar .dropdown.open > a, .probootstrap-navbar .dropdown:hover > a, .probootstrap-navbar .dropdown:focus > a, .probootstrap-navbar .dropdown:active > a {
  -webkit-transition: .3s all;
  transition: .3s all;
}

.probootstrap-navbar .dropdown.open > a:before, .probootstrap-navbar .dropdown:hover > a:before, .probootstrap-navbar .dropdown:focus > a:before, .probootstrap-navbar .dropdown:active > a:before {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.probootstrap-navbar .dropdown > .dropdown-menu > li a {
  padding: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.probootstrap-navbar .dropdown > .dropdown-menu > li a:hover {
  border-top: none;
  background: #ffffff;
  color: #85C8DD;
}

.probootstrap-navbar .dropdown > .dropdown-menu > li.open > a, .probootstrap-navbar .dropdown > .dropdown-menu > li:hover > a, .probootstrap-navbar .dropdown > .dropdown-menu > li:focus > a, .probootstrap-navbar .dropdown > .dropdown-menu > li:active > a {
  border-top: none;
  color: #85C8DD;
  background: #ffffff;
}

.probootstrap-navbar .dropdown > .dropdown-menu > li.dropdown-submenu.open > a, .probootstrap-navbar .dropdown > .dropdown-menu > li.dropdown-submenu:hover > a, .probootstrap-navbar .dropdown > .dropdown-menu > li.dropdown-submenu:focus > a, .probootstrap-navbar .dropdown > .dropdown-menu > li.dropdown-submenu:active > a {
  border-top: none;
}

.probootstrap-navbar .dropdown > .dropdown-menu > li.dropdown-submenu.open > a:before, .probootstrap-navbar .dropdown > .dropdown-menu > li.dropdown-submenu:hover > a:before, .probootstrap-navbar .dropdown > .dropdown-menu > li.dropdown-submenu:focus > a:before, .probootstrap-navbar .dropdown > .dropdown-menu > li.dropdown-submenu:active > a:before {
  color: #000000;
}

.probootstrap-navbar .dropdown > .dropdown-menu > li.active > a {
  color: #ffffff;
}

.probootstrap-navbar .navbar-right .dropdown-menu {
  right: auto;
}

.probootstrap-navbar .dropdown-menu {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #85C8DD;
  border-radius: 0;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  white-space: normal;
  word-wrap: break-word;
}

.probootstrap-navbar .dropdown-menu a {
  white-space: normal;
}

@media screen and (max-width: 768px) {
  .probootstrap-navbar .dropdown-menu {
    width: 100%;
    padding: 10px 15px;
  }
  .probootstrap-navbar .dropdown-menu a {
    color: #ffffff;
  }
}

.probootstrap-navbar .navbar-brand {
  text-transform: uppercase;
  font-family: "Zilla Slab", serif;
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .probootstrap-navbar .navbar-brand {
    color: #000000;
    line-height: 0;
  }
}

.probootstrap-navbar .navbar-brand em {
  /* font-family: "Alice", serif; */
  font-family: 'Dancing Script', cursive;
}

.probootstrap-navbar .navbar-nav > li > a {
  color: white;
  font-size: 15px;
  position: relative;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .probootstrap-navbar .navbar-nav > li > a {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 768px) {
  .probootstrap-navbar .navbar-nav > li > a {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    color: rgba(0, 0, 0, 0.7);
  }
}

.probootstrap-navbar .navbar-nav > li > a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.probootstrap-navbar .navbar-nav > li > a:hover, .probootstrap-navbar .navbar-nav > li > a:focus, .probootstrap-navbar .navbar-nav > li > a:active {
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 768px) {
  .probootstrap-navbar .navbar-nav > li > a:hover, .probootstrap-navbar .navbar-nav > li > a:focus, .probootstrap-navbar .navbar-nav > li > a:active {
    color: rgba(0, 0, 0, 0.7);
  }
}

.probootstrap-navbar .navbar-nav > li.open > a:hover, .probootstrap-navbar .navbar-nav > li.open > a:focus, .probootstrap-navbar .navbar-nav > li.open > a {
  background: none;
}

.probootstrap-navbar .navbar-nav > li.active > a {
  background: none;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .probootstrap-navbar .navbar-nav > li.active > a {
    color: rgba(0, 0, 0, 0.7);
  }
}

.probootstrap-navbar .navbar-nav > li.active > a:active, .probootstrap-navbar .navbar-nav > li.active > a:focus, .probootstrap-navbar .navbar-nav > li.active > a:hover {
  background: none;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .probootstrap-navbar .navbar-nav > li.active > a:active, .probootstrap-navbar .navbar-nav > li.active > a:focus, .probootstrap-navbar .navbar-nav > li.active > a:hover {
    color: rgba(0, 0, 0, 0.7);
  }
}

.probootstrap-navbar .navbar-nav > li > .dropdown-menu:before {
  border: 1px solid #85C8DD;
  content: "";
  position: absolute;
  top: -20px;
  left: 40px;
  border-color: rgba(133, 200, 221, 0);
  border-bottom-color: #85C8DD;
  border-width: 10px;
  margin-left: -10px;
}

@media screen and (max-width: 768px) {
  .probootstrap-navbar .navbar-nav > li > .dropdown-menu:before {
    display: none;
  }
}

.probootstrap-navbar .navbar-nav .dropdown li.active > a {
  background: none;
}

.probootstrap-navbar .navbar-nav.active > a {
  color: #b1b881 !important;
}

.probootstrap-navbar .dropdown-submenu {
  position: relative;
}

.probootstrap-navbar .dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.probootstrap-navbar .dropdown-submenu > a {
  display: block;
}

.probootstrap-navbar .dropdown-submenu > a:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: 10px;
  margin-top: -11px;
  content: "\e926";
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: .3s all;
  transition: .3s all;
}

@media screen and (max-width: 768px) {
  .probootstrap-navbar .dropdown-submenu > a:before {
    color: rgba(0, 0, 0, 0.2);
  }
}

.probootstrap-navbar .dropdown-submenu > a:hover:before {
  color: rgba(0, 0, 0, 0.3);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media screen and (max-width: 480px) {
  .probootstrap-navbar .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }
}

.probootstrap-navbar.scrolled {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.09);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.probootstrap-navbar.scrolled.awake {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.probootstrap-navbar.scrolled .navbar-brand {
  top: 30px;
  color: #000000;
}

.probootstrap-navbar.scrolled .dropdown > a:before {
  color: rgba(0, 0, 0, 0.4);
}

.probootstrap-navbar.scrolled .navbar-nav > li > a {
  color: rgba(0, 0, 0, 0.7);
}

.probootstrap-navbar.scrolled .navbar-nav > li > a:hover {
  color: rgba(0, 0, 0, 0.7) !important;
}

.probootstrap-navbar.scrolled .navbar-nav > li.active > a {
  color: #b1b881 !important;
}

@media screen and (max-width: 768px) {
  .probootstrap-navbar.scrolled .navbar-nav > li.active > a {
    color: #b1b881 !important;
  }
}

.text-intro-wrap {
  position: absolute;
  z-index: 19;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.text-intro-wrap .text-intro h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 110px;
  line-height: 100px;
  margin: 0;
  text-transform: uppercase;
}

.text-intro-wrap .text-intro h1 em {
  /* font-family: "Alice", serif; */
  font-family: 'Dancing Script', cursive;
}

@media screen and (max-width: 768px) {
  .text-intro-wrap .text-intro h1 {
    font-size: 85px;
    line-height: 75px;
  }
}

.text-intro-wrap .text-intro h2 {
  color: #ffffff;
  /* font-family: "Alice", serif; */
  font-family: 'Dancing Script', cursive;
  margin-top: 10px;
}

.probootstrap-wedding-countdown h4 {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 30px;
}

.probootstrap-groom-bride {
  display: table;
  margin-top: -160px;
  position: relative;
  z-index: 5;
}

@media screen and (max-width: 768px) {
  .probootstrap-groom-bride {
    margin-top: 0;
  }
}

.probootstrap-groom-bride .probootstrap-groom, .probootstrap-groom-bride .probootstrap-bride, .probootstrap-groom-bride .probootstrap-divider {
  display: table-cell;
  vertical-align: top;
}

.probootstrap-groom-bride .probootstrap-groom img, .probootstrap-groom-bride .probootstrap-bride img, .probootstrap-groom-bride .probootstrap-divider img {
  border-radius: 50%;
  border: 10px solid #ffffff;
}

.probootstrap-groom-bride .probootstrap-caption {
  color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-top: 40px;
  font-family: "Zilla Slab", serif;
  font-weight: 700;
  letter-spacing: .1em;
}

.probootstrap-groom-bride h2 {
  margin-top: 0;
}

.probootstrap-groom-bride .probootstrap-groom, .probootstrap-groom-bride .probootstrap-bride {
  padding: 30px;
}

@media screen and (max-width: 992px) {
  .probootstrap-groom-bride .probootstrap-groom, .probootstrap-groom-bride .probootstrap-bride {
    padding: 0;
  }
}

.probootstrap-groom-bride .probootstrap-groom, .probootstrap-groom-bride .probootstrap-bride {
  width: 45%;
}

@media screen and (max-width: 768px) {
  .probootstrap-groom-bride .probootstrap-groom, .probootstrap-groom-bride .probootstrap-bride {
    width: 100%;
    display: block;
  }
}

.probootstrap-groom-bride .probootstrap-divider {
  width: 10%;
  font-size: 100px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .probootstrap-groom-bride .probootstrap-divider {
    width: 100%;
    display: block;
  }
}

.probootstrap-groom-bride .probootstrap-divider span {
  display: block;
  margin-top: 210px;
  color: #b1b881;
}

@media screen and (max-width: 768px) {
  .probootstrap-groom-bride .probootstrap-divider span {
    margin-top: 0;
  }
}
/* .mapouter{
  position:relative;
  text-align:right;
  height:100%;width:100%;
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:200px;
  width:953px;
}
#map {
  width: 100%;
  height: 500px;
  position: relative;
}
*/
 #mapDiv{
  position: relative;
  padding: 0;
  margin: 10px;
  height:250px;

} 
@media screen and (max-width: 768px) {
  #map {
    height: 250px;
    margin:10px;
  }
}

.img-rounded {
  border-radius: 7px;
}

.probootstrap-image {
  display: block;
  overflow: hidden;
  position: relative;
  height: 300px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.probootstrap-image.height-2x {
  height: 630px;
}

@media screen and (max-width: 1245px) {
  .probootstrap-image.height-2x {
    height: 630px;
  }
}

@media screen and (max-width: 992px) {
  .probootstrap-image.height-2x {
    height: 300px;
  }
}

@media screen and (max-width: 1245px) {
  .probootstrap-image {
    height: 300px;
  }
}

@media screen and (max-width: 992px) {
  .probootstrap-image {
    height: 300px;
  }
}

@media screen and (max-width: 480px) {
  .probootstrap-image {
    width: 100%;
    height: 200px;
  }
}

.probootstrap-image .probootstrap-image-for-popup {
  display: block;
  z-index: -1;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.btn {
  border: none;
  border-radius: 30px;
  text-transform: uppercase;
  padding-left: 30px;
  padding-right: 30px;
}

.btn:active {
  -webkit-transition: .2s all;
  transition: .2s all;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn.btn-lg {
  font-size: 14px;
  line-height: 1.5;
}

.btn.btn-primary {
  border: 1px solid #b1b881;
  background: #b1b881;
  color: #ffffff;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  background: #b5bc88;
}

.btn.btn-primary:focus, .btn.btn-primary:active {
  outline: none;
  border: 1px solid #b1b881;
}

.btn.btn-ghost {
  background: transparent;
  border: 1px solid #b1b881;
  color: #b1b881;
}

.btn.btn-ghost:hover {
  background: #b1b881;
  color: #ffffff;
}

.btn.btn-ghost:focus, .btn.btn-ghost:active {
  outline: none;
  background: transparent;
  color: #b1b881;
  border: 1px solid #b1b881;
}

.probootstrap-section {
  padding: 5em 0;
}

.probootstrap-section.probootstrap-border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.probootstrap-section.probootstrap-border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.probootstrap-section > .container.probootstrap-border-top {
  padding-top: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.probootstrap-section.probootstrap-bg-white {
  background: #ffffff;
}

@media screen and (max-width: 768px) {
  .probootstrap-section {
    padding: 3em 0;
  }
}

.probootstrap-section.probootstrap-section-colored, .probootstrap-section.probootstrap-section-colored-darker {
  background: #b1b881;
  color: #ffffff;
}

.probootstrap-section.probootstrap-section-colored h1, .probootstrap-section.probootstrap-section-colored h2, .probootstrap-section.probootstrap-section-colored h3, .probootstrap-section.probootstrap-section-colored .text-intro-wrap .text-intro h2, .text-intro-wrap .text-intro .probootstrap-section.probootstrap-section-colored h2, .probootstrap-section.probootstrap-section-colored-darker h1, .probootstrap-section.probootstrap-section-colored-darker h2, .probootstrap-section.probootstrap-section-colored-darker h3, .probootstrap-section.probootstrap-section-colored-darker .text-intro-wrap .text-intro h2, .text-intro-wrap .text-intro .probootstrap-section.probootstrap-section-colored-darker h2 {
  color: #ffffff;
}

.probootstrap-section.probootstrap-section-colored p, .probootstrap-section.probootstrap-section-colored-darker p {
  color: rgba(255, 255, 255, 0.7);
}

.probootstrap-section.probootstrap-section-colored-darker {
  background: #a7af71;
}

.probootstrap-footer {
  background: #98a15b;
  padding: 70px 0;
  color: rgba(255, 255, 255, 0.5);
}

.probootstrap-footer a {
  color: #ffffff;
  text-decoration: underline;
}

.probootstrap-footer a:hover {
  text-decoration: none;
}

.probootstrap-section-bg {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7em 0;
  position: relative;
  height: 600px;
}

@media screen and (max-width: 768px) {
  .probootstrap-section-bg {
    padding: 3em 0;
    height: 300px;
  }
}

.probootstrap-section-bg.overlay:before {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.probootstrap-section-bg .probootstrap-heading {
  margin-top: 250px;
}

@media screen and (max-width: 768px) {
  .probootstrap-section-bg .probootstrap-heading {
    margin-top: 50px;
  }
}

.probootstrap-card {
  border: 2px solid #b1b881;
  background: #ffffff;
  padding: 40px;
  color: #000000 !important;
}

@media screen and (max-width: 768px) {
  .probootstrap-card {
    padding: 20px;
  }
}

.probootstrap-card p {
  color: #000000 !important;
}

.probootstrap-form {
  margin-bottom: 0px;
}

.probootstrap-form label {
  font-weight: normal;
}

.probootstrap-form .form-control {
  height: 46px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #f2f2f2;
}

.probootstrap-form .form-control:active, .probootstrap-form .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid #b1b881;
}

.probootstrap-form .form-group:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.probootstrap-form .form-group label {
  text-transform: uppercase;
  font-size: 13px;
}

.probootstrap-form .form-group .form-field {
  position: relative;
}

.probootstrap-form .form-group .form-field .icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 20px;
}

.probootstrap-form .form-group .form-field .form-control {
  padding-right: 50px;
}

.probootstrap-form textarea.form-control {
  height: inherit;
  resize: vertical;
}

.btn-register img {
  position: relative;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
  top: 0px;
}

.btn-register:hover img, .btn-register:focus img {
  opacity: .7;
  -webkit-transform: scale(1);
  transform: scale(1);
  top: -10px;
}

.probootstrap-animate {
  opacity: 0;
  visibility: hidden;
}

.probootstrap-testimony-wrap {
  border-radius: 4px;
  padding: 20px;
}

.probootstrap-testimony-wrap figure {
  margin-bottom: 20px;
}

.probootstrap-testimony-wrap figure img {
  height: 80px;
  width: 80px !important;
  margin: 0 auto;
  border-radius: 50%;
}

.probootstrap-testimony-wrap blockquote {
  border-left: none;
  padding: 0;
  margin-bottom: 0;
  color: #000000;
}

.probootstrap-testimony-wrap blockquote cite {
  margin-top: 30px;
  display: block;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
}

.probootstrap-testimony-wrap blockquote cite span {
  font-style: normal;
  color: #000000;
  font-weight: bold;
}

.owl-carousel-testimony .item {
  padding-bottom: 40px;
  padding-top: 20px;
}

.owl-carousel-testimony .probootstrap-testimony-wrap {
  border: 1px solid #f2f2f2;
  max-width: 700px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 2px 17px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 2px 17px 0px rgba(0, 0, 0, 0.09);
}

/* Flexslider override style */
.slider-height, .flexslider, .flexslider .slides > li {
  height: 100vh;
}

.probootstrap-heading .primary-heading {
  font-family: "Zilla Slab", serif;
  color: #b1b881;
  margin: 0;
  padding: 0;
  font-size: 80px;
}

@media screen and (max-width: 768px) {
  .probootstrap-heading .primary-heading {
    font-size: 70px;
  }
}

.probootstrap-heading .secondary-heading {
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  padding: 0;
  letter-spacing: .05em;
  font-size: 50px;
  position: relative;
  top: -50px;
  font-weight: 700;
  line-height: 40px;
}

@media screen and (max-width: 768px) {
  .probootstrap-heading .secondary-heading {
    font-size: 40px;
  }
}

.probootstrap-heading.dark .secondary-heading {
  color: #000000;
}

.probootstrap-heading .seperator {
  display: block;
  margin: 0 auto 10px auto;
  color: #ccc;
  font-weight: 300;
}

.flexslider {
  
  position: relative;
  z-index: 2;
  background: none;
  border: none;
  margin: 0 0 0;
  background: #b1b881;
}

.flexslider .probootstrap-slider-text {
  margin-top: 300px;
}

@media screen and (max-width: 480px) {
  .flexslider .probootstrap-slider-text {
    margin-top: 150px;
  }
}

.flexslider .probootstrap-slider-text .sub-heading {
  font-size: 20px;
  margin-top: -40px;
  color: rgba(255, 255, 255, 0.7);
}

.flexslider .probootstrap-slider-text .sub-heading a {
  color: white;
}

.flexslider .slides > li {
  background-size: cover;
  background-position: center center;
  background-repeat: none;
}

.flexslider .slides > li.overlay:before {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 480px) {
  .flexslider .flex-direction-nav {
    display: none;
  }
}

.flexslider .flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 30px;
  height: 30px;
  margin: -60px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0px;
  padding: 30px;
}

.flexslider .flex-direction-nav a:before {
  font-family: 'Dancing Script', cursive;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  content: "\e929";
  -webkit-transition: .3s all;
  transition: .3s all;
  font-size: 30px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.flexslider .flex-direction-nav a.flex-next:before {
  content: "\e92a";
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.flex-direction-nav .flex-prev {
  left: 0px;
}

.flex-direction-nav .flex-next {
  right: 0px;
  text-align: right;
}

.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 0px;
}

.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}

.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 0px;
}

.flex-control-paging li a {
  width: 10px;
  height: 10px;
  display: block;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-radius: 50%;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(255, 255, 255, 0.7);
}

.flex-control-paging li a.flex-active {
  background: #000;
  background: white;
  cursor: default;
}

.flex-control-paging {
  position: absolute;
  right: 30px;
  bottom: 0;
  z-index: 20;
}

/* Owl carousel override style */
.owl-carousel {
  margin-bottom: 100px;
}

.owl-carousel.border-rounded .item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
  margin-top: 0;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 9999;
  position: absolute;
  -webkit-transition: .2s all;
  transition: .2s all;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 24%;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: 20px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: 20px;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i {
  color: #000000;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i {
  color: #000000;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev i {
  color: #ffffff;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev:hover i {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .owl-theme .owl-controls .owl-nav {
    display: none;
  }
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none !important;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  font-size: 24px;
  background: #b1b881 !important;
  padding: 12px;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover i, .owl-theme .owl-controls .owl-nav [class*="owl-"]:focus i {
  background: #b1b881 !important;
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: -30px;
  width: 100%;
  text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: -30px;
  margin-bottom: -2.5em;
}

.owl-work.owl-theme .owl-dots {
  bottom: -30px;
  margin-bottom: -2.5em;
}

.owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: .2s all;
  transition: .2s all;
  border: 2px solid transparent;
}

.owl-theme .owl-dots .owl-dot span:hover {
  background: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: none;
  border: 2px solid #000000;
}

.date-countdown > div {
  float: left;
  text-align: center;
  width: 25%;
}

@media screen and (max-width: 768px) {
  .date-countdown > div {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .date-countdown > div {
    width: 100%;
  }
}

.date-countdown > div .simply-amount {
  font-size: 72px;
  line-height: 60px !important;
  text-transform: uppercase;
  font-family: "Alice", serif;
}

.date-countdown > div .simply-word {
  display: block;
  font-family: "Zilla Slab", serif;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .2em;
  color: rgba(255, 255, 255, 0.3);
}

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.image-link {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

/* This block of CSS adds opacity transition to background */
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
  padding: 0;
}

/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
  top: 0;
  bottom: 0;
}

/* padding for main container */
.mfp-no-margins .mfp-container {
  padding: 0;
}

/* aligns caption to center */
.mfp-title {
  text-align: center;
  padding: 6px 0;
}

.image-source-link {
  color: #DDD;
}

.probootstrap-gutter0 > div[class*='col-'] {
  padding-right: 0px;
  padding-left: 0px;
}

@media screen and (max-width: 480px) {
  .probootstrap-gutter0 > div[class*='col-'] {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.probootstrap-gutter10 > div[class*='col-'] {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

@media screen and (max-width: 480px) {
  .probootstrap-gutter10 > div[class*='col-'] {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.probootstrap-gutter30 > div[class*='col-'] {
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (max-width: 480px) {
  .probootstrap-gutter30 > div[class*='col-'] {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.probootstrap-gutter40 > div[class*='col-'] {
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (max-width: 480px) {
  .probootstrap-gutter40 > div[class*='col-'] {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.probootstrap-gutter60 > div[class*='col-'] {
  padding-right: 30px;
  padding-left: 30px;
}

@media screen and (max-width: 480px) {
  .probootstrap-gutter60 > div[class*='col-'] {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.mb0 {
  margin-bottom: 0px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb70 {
  margin-bottom: 70px;
}

.mb80 {
  margin-bottom: 80px;
}

.mb90 {
  margin-bottom: 90px;
}

.mb100 {
  margin-bottom: 100px;
}

.mt0 {
  margin-top: 0px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt50 {
  margin-top: 50px;
}

.mt60 {
  margin-top: 60px;
}

.mt70 {
  margin-top: 70px;
}

.mt80 {
  margin-top: 80px;
}

.mt90 {
  margin-top: 90px;
}

.mt100 {
  margin-top: 100px;
}

.pb0 {
  padding-bottom: 0 !important;
}

@media screen and (max-width: 768px) {
  .img-sm-responsive {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {s
  .img-xs-responsive {
    max-width: 100%;
  }
}

