/*!==============================
 * Theme Name: Wedding
 * Theme URL: https://probootstrap.com/wedding-free-onepage-html5-template-using-bootstrap
 * Author: ProBootstrap.com
 * Author URL: https://probootstrap.com
 * License: Released for free under the Creative Commons Attribution 3.0 license (probootstrap.com/license)
 */
@import 'custom-settings';

html {
	overflow-x: hidden;
	font-size: 1.25em;
}
body {
	background: $brand-white;
	color: #8b8e94;
	line-height: 1.7;
	font-size: 18px;
	font-family: $font-primary;
}
// selection
::selection {
  background: $brand-black; 
  color: $brand-white;
}
::-moz-selection {
  background: $brand-black; 
  color: $brand-white;
}

// Typography
h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: 900;
  line-height: 1.2;
  font-family: $font-secondary;
  color: $brand-primary;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}
h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}

p, ul, ol {
	margin-bottom: 1.3em;
}


a {
	transition: .3s all;
	color: $brand-primary;
	&:hover, &:focus, &:active {
		color: darken($brand-primary, 5%);
		text-decoration: none;
	}
}

.probootstrap-navbar {
	border: none;
	box-shadow: none;
	border-radius: 0px;
	margin-bottom: 0px;
	background: none;
	
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 200;

	@media screen and (max-width: $screen-sm) {
		background: rgba(255,255,255,1);
		box-shadow: 0px 2px 10px 0px rgba(0,0,0,.1);
	}

	// animate hamburger menu
	.navbar-toggle:focus,
	.navbar-toggle:hover {
		background-color: transparent;
	}
	.navbar-toggle {
    border: none;
	}
	.navbar-toggle span.icon-bar {
	  transition: all 0.15s;
	}

	.navbar-toggle span:nth-child(2) {
	  transform: rotate(45deg);
	  transform-origin: 10% 10%;
	}

	.navbar-toggle span:nth-child(3) {
	  opacity: 0;
	}

	.navbar-toggle span:nth-child(4) {
	  transform: rotate(-45deg);
	  transform-origin: 10% 90%;
	}

	.navbar-toggle.collapsed span:nth-child(2),
	.navbar-toggle.collapsed span:nth-child(4) {
	  transform: rotate(0);
	}

	.navbar-toggle.collapsed span:nth-child(3) {
	  opacity: 1;
	}
	
	// nav link padding
	.parent-nav-link-padding {
		padding-top: 40px;
		padding-bottom: 40px;
		padding-left: 0;
		padding-right: 0;
		margin-left: 15px;
		margin-right: 15px;
		@media screen and (max-width: $screen-sm) {
			padding-top: 25px!important;
			padding-bottom: 25px!important;
		}
	}

	.dropdown-header {
		color: rgba(255,255,255,.2);
		padding-left: 10px;
		text-transform: uppercase;
	}
	.dropdown {
		
		> a {
			padding-right: 10px!important;
			position: relative;
			display: block;
			@media screen and (max-width: $screen-xs) {
				display: block;
				padding-right: 0px;
			}
			&:before {
				@include icomoon;
				position: absolute;
				top: 50%;
				right: 0;
				margin-right: -10px;
				margin-top: -11px;
				content: "\e924";
				font-size: 20px;
				color: rgba($brand-white, .5);
				transition: .3s all;
				@media screen and (max-width: $screen-sm) {
					color: rgba(0,0,0,.2);
				}
			}
			&:hover {
				&:before {
					transform: rotate(180deg);	
				}
			}
		}

		&.open, &:hover, &:focus, &:active {
			> a {
				transition: .3s all;
				@media screen and (max-width: $screen-sm) {
				}
				
				&:before {
					transform: rotate(180deg);	
				}
				
			}
		}

		// style for dropdown menu
		> .dropdown-menu {
			> li {
				a {
					padding: 10px;
					color: rgba(255,255,255,.8);
					&:hover {
						border-top: none;
						background: $brand-white;
						color: $brand-dropdown;
					}
				}
				&.open, &:hover, &:focus, &:active {
					> a {
						border-top: none;
						color: $brand-dropdown;
						background: $brand-white;
					}
				}
			
				&.dropdown-submenu {
					&.open, &:hover, &:focus, &:active {
						> a {
							border-top: none;
							
							&:before {
								color: $brand-black;
							}
							
						}
					}
				}
				&.active {
					> a {
						color: $brand-white;
					}
				}
			}
		}
	}
	.navbar-right {
    .dropdown-menu {
      right: auto;
    }  
  }
	.dropdown-menu {
		border: none;
		box-shadow: none;
		background: $brand-dropdown;
		border-radius: 0;
		box-shadow: 0px 0px 7px 0px rgba(0,0,0,.15);

		min-width: 200px;
		white-space: normal;
		word-wrap: break-word; 
		a {
			white-space: normal; 
		}

		@media screen and (max-width: $screen-sm) {
			width: 100%;
			padding: 10px 15px;
			a {
				color: $brand-white;
			}
		}
	}
	
	.navbar-brand {
		@extend .parent-nav-link-padding;
		text-transform: uppercase;
		font-family: $font-secondary;
		color: $brand-white;
		font-size: 26px;
		font-weight: 700;
		@media screen and (max-width: $screen-sm) {
			color: $brand-black;
			line-height: 0;
		}
		em {
			font-family: $font-primary;
		}
	}

	// main nav style
	.navbar-nav {
		> li {
			> a {
				@extend .parent-nav-link-padding;
				color: rgba(255,255,255,1);
				font-size: 15px;
				position: relative;
				text-transform: uppercase;
				@media screen and (max-width: $screen-sm) {
					padding-left: 0!important;
					padding-right: 0!important;
					margin-left: 0!important;
					margin-right: 0!important;
				}
				@media screen and (max-width: $screen-sm) {
					padding-top: 8px!important;
					padding-bottom: 8px!important;
					color: rgba(0,0,0,.7);
					
				}
				&:hover {
					color: rgba(255,255,255,.7);
				}
				&:hover, &:focus, &:active {
					color: rgba(255,255,255,.7);
					@media screen and (max-width: $screen-sm) {
						// border-top: 2px solid transparent;
						color: rgba(0,0,0,.7);
					}
				}
			}
			&.open {
				> a {
					// border-top: 2px solid transparent;
					&:hover, &:focus, & {
						background: none;
					}
				}
			}
			&.active {
				> a {
					background: none;
					color: $brand-white;
					@media screen and (max-width: $screen-sm) {
						color: rgba(0,0,0,.7);
					}
					&:active, &:focus, &:hover {
						background: none;
						color: $brand-white;
						@media screen and (max-width: $screen-sm) {
							color: rgba(0,0,0,.7);
						}
					}
				}
			}
			> .dropdown-menu {
				&:before {
					border: 1px solid $brand-dropdown;
					content: "";
					position: absolute;
					top: -20px;
					left: 40px;
					border-color: rgba($brand-dropdown, 0);
					border-bottom-color: $brand-dropdown;
					border-width: 10px;
					margin-left: -10px;
					@media screen and (max-width: $screen-sm) {
						display: none;
					}
				}
			}
		}
		.dropdown {
			li.active {
				> a {
					// color: $brand-white;
					background: none;
				}
			}
		}
		&.active {
			> a {
				color: $brand-primary!important;
			}
		}
	}

	// submenu
	.dropdown-submenu {
    position: relative;
    .dropdown-menu {
    	top: 0;
	    left: 100%;
	    margin-top: -1px;
    }
    > a {
    	
			display: block;
			&:before {
				@include icomoon;
				position: absolute;
				top: 50%;
				right: 0;
				margin-right: 10px;
				margin-top: -11px;
				content: "\e926";
				font-size: 20px;
				color: rgba($brand-white, .5);
				transition: .3s all;
				@media screen and (max-width: $screen-sm) {
					color: rgba(0,0,0,.2);
				}
			}
    	
    	&:hover {
				
				&:before {
					color: rgba($brand-black, .3);
					transform: rotate(180deg);	
				}
				
			}
    }
    @media screen and (max-width: $screen-xs) {
    	&:hover {
				> .dropdown-menu {
					display: block;
				}
    	}	
    }
	}
	&.scrolled {
		background: $brand-white;
		box-shadow: 0px 1px 3px 0px rgba(0,0,0,.09);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		transform: translateY(-100%);
		transition: .3s all ease-out;
		&.awake {

			transform: translateY(0%);
		}
		.navbar-brand {
			top: 30px;
			// background-position: left 100%;
			color: $brand-black;
		}
		.dropdown {
			> a {
				&:before {
					color: rgba(0,0,0,.4);
				}
			}
		}
		
		.navbar-nav {
			> li {
				> a {
					color: rgba(0,0,0,.7);
					&:hover {
						color: rgba(0,0,0,.7)!important;
					}
				}
				&.active {
					> a {
						color: $brand-primary!important;
						@media screen and (max-width: $screen-sm) {
							color: $brand-primary!important;;
						}
					}
				}
			}
		}
	}
}

// intro text
.text-intro-wrap {
	position: absolute; 
	z-index: 19; 
	width: 100%;
	top: 40%;
	transform: translateY(-50%);
	.text-intro {
		h1 {
			color: $brand-white;
			font-weight: 700;
			font-size: 110px;
			line-height: 100px;
			margin: 0;
			text-transform: uppercase;
			em {
				font-family: $font-primary;
			}
			@media screen and (max-width: $screen-sm) {
				font-size: 85px;
				line-height: 75px;
			}
		}
		h2 {
			color:  $brand-white;
			font-family: $font-primary;
			margin-top: 10px;
			@extend h3;
		}
	}
}
.probootstrap-wedding-countdown {
	h4 {
		color: rgba(255,255,255,.5);
		text-transform: uppercase;
		font-weight: 400;
		margin-top: 0;
		margin-bottom: 30px;
	}
}
.probootstrap-groom-bride {
	display: table;
	margin-top: -160px;
	position: relative;
	z-index: 5;
	@media screen and (max-width: $screen-sm) {
		margin-top: 0;
	}
	.probootstrap-groom, .probootstrap-bride, .probootstrap-divider {
		display: table-cell;
		vertical-align: top;
		img {
			border-radius: 50%;
			border: 10px solid $brand-white;
		}
	}
	.probootstrap-caption {
		color: rgba(0,0,0,.2);
		text-transform: uppercase;
		text-align: center;
		display: block;
		margin-top: 40px;
		font-family: $font-secondary;
		font-weight: 700;
		letter-spacing: .1em;
	}
	h2 {
		margin-top: 0;
	}
	.probootstrap-groom, .probootstrap-bride {
		padding: 30px;
		@media screen and (max-width: $screen-md) {
			padding: 0;
		}
	}
	.probootstrap-groom, .probootstrap-bride {
		width: 45%;
		@media screen and (max-width: $screen-sm) {
			width: 100%;
			display: block;
		}
	}
	.probootstrap-divider {
		width: 10%;
		font-size: 100px;
		text-align: center;
		@media screen and (max-width: $screen-sm) {
			width: 100%;
			display: block;
		}
		span {
			display: block;
			margin-top: 210px;
			color: $brand-primary;
			@media screen and (max-width: $screen-sm) {
				margin-top: 0;
			}
		}
	}
}

// map
#map {
	width: 100%;
	height: 500px;
	position: relative;
	@media screen and (max-width: $screen-sm) {
		height: 200px;
	}
}

.img-rounded {
	border-radius: 7px;
}

// gallery
.probootstrap-image {
	display: block;
	overflow: hidden;
	position: relative;
	height: 300px;
	border-radius: 7px;
	margin-bottom: 30px;
	width: 100%;
	background-size: cover;
	background-position: center center;
	&.height-2x {
		height: 630px;
		@media screen and (max-width: 1245px) {
			height: 630px;
		}
		@media screen and (max-width: $screen-md) {
			height: 300px;
		}
	}
	@media screen and (max-width: 1245px) {
		height: 300px;
	}
	@media screen and (max-width: $screen-md) {
		height: 300px;
	}
	@media screen and (max-width: $screen-xs) {
		width: 100%;
		height: 200px;
	}
	.probootstrap-image-for-popup {
		display: block; 
		z-index: -1; 
		position: absolute; 
		top: 50%; 
		transform: translateY(-50%);
	}
}

.btn {
	border: none;
	border-radius: 30px;
	text-transform: uppercase;
	padding-left: 30px;
	padding-right: 30px;
	&:active {
			transition: .2s all;
			transform: scale(0.95);
			box-shadow: none;
		}
	&.btn-lg {
		font-size: 14px;
		line-height: 1.5;
	}
	&.btn-primary {
		border: 1px solid $brand-primary;
		background: $brand-primary;
		color: $brand-white;
		&:hover, &:active, &:focus {
			background: lighten($brand-primary, 2%);
		}
		&:focus, &:active {
			outline: none;
			border: 1px solid $brand-primary;
		}
		&:active {
			
		}
		&:focus {

		}
	}
	&.btn-ghost {
		background: transparent;
		border: 1px solid $brand-primary;
		color: $brand-primary;
		&:hover {
			background: $brand-primary;
			color: $brand-white;
		}
		&:focus, &:active {
			outline: none;
			background: transparent;
			color: $brand-primary;
			border: 1px solid $brand-primary;
		}
	}
}

.probootstrap-section {
	padding: 5em 0;
	&.probootstrap-border-top {
		border-top: 1px solid rgba(0,0,0,.1);
	}
	&.probootstrap-border-bottom {
		border-bottom: 1px solid rgba(0,0,0,.1);	
	}
	> .container {
		&.probootstrap-border-top {
			padding-top: 50px;
			border-top: 1px solid rgba(0,0,0,.1);
		}
	}
	
	&.probootstrap-bg-white {
		background: $brand-white;
	}
	@media screen and (max-width: $screen-sm) {
		padding: 3em 0;
	}
	&.probootstrap-section-colored, &.probootstrap-section-colored-darker {
		background: $brand-primary;
		color: $brand-white;
		h1, h2, h3 {
			color: $brand-white;
		}
		p {
			color: rgba(255,255,255,.7);
		}
	}
	&.probootstrap-section-colored-darker {
		background: darken($brand-primary, 5%);
	}
}

.probootstrap-footer {
	background: darken($brand-primary, 12%);
	padding: 70px 0;
	color: rgba(255,255,255,.5);
	a {
		color: $brand-white;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
.probootstrap-section-bg {
	background-size: cover;
	background-repeat: no-repeat;
	padding: 7em 0;
	position: relative;
	height: 600px;
	@media screen and (max-width: $screen-sm) {
		padding: 3em 0;
		height: 300px;
	}
	&.overlay {
		&:before {
			content: "";
			background: rgba(0,0,0,.2);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
	.probootstrap-heading {
		margin-top: 250px;
		@media screen and (max-width: $screen-sm) {
			margin-top: 50px;
		}
	}
}

// card
.probootstrap-card {
	border: 2px solid $brand-primary;
	background: $brand-white;
	padding: 40px;
	color: $brand-black!important;
	@media screen and (max-width: $screen-sm) {
		padding: 20px;
	}
	p {
		color: $brand-black!important;
	}
}

// form
.probootstrap-form {
	margin-bottom: 0px;
	label {
		font-weight: normal;
	}	
	.form-control {
		height: 46px;
		box-shadow: none;
		font-size: 14px;
		appearance: none;
		border: 2px solid lighten($brand-black, 95%);
		&:active, &:focus {
			box-shadow: none;
			border: 2px solid $brand-primary;
		}
	}
	.form-group{
		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
		}
		label {
			text-transform: uppercase;
			font-size: 13px;
		}
		.form-field {
			position: relative;
			.icon {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 20px;
			}
			.form-control {
				padding-right: 50px;
			}
		}
	}
	textarea.form-control {
		height: inherit;
		resize:vertical; 
	}
}

.btn-register {
	img {
		position: relative;
		transform: scale(0.9);
		transition: .3s all ease-out;
		top: 0px;
	}
	&:hover, &:focus {
		img {
			opacity: .7;
			transform: scale(1.0);
			top: -10px;
		}
	}
}



// animate
.probootstrap-animate {
	opacity: 0;
	visibility: hidden;
}



// Testimonial
.probootstrap-testimony-wrap {
	border-radius: 4px;
	padding: 20px;
	figure {
		margin-bottom: 20px;
		img {
			height: 80px;
			width: 80px!important;
			margin: 0 auto;
			border-radius: 50%;
		}
	}
	blockquote {
		border-left: none;
		padding: 0;
		margin-bottom: 0;
		color: $brand-black;
		cite {
			margin-top: 30px;
			display: block;
			font-size: 14px;
			color: rgba(0,0,0,.3);
			span {
				font-style: normal;
				color: $brand-black;
				font-weight: bold;
			}
		}
	}

}
.owl-carousel-testimony {
	.item {
		padding-bottom: 40px;
		padding-top: 20px;
	}
	.probootstrap-testimony-wrap {
		border: 1px solid lighten(#ccc, 15%);
		max-width: 700px;
		margin: 0 auto;
		box-shadow: 0px 2px 17px 0px rgba(0,0,0,.09);
	}
}

/* Flexslider override style */
.slider-height {
	height: 100vh;
	// @media screen and (max-width: $screen-xs) {
		// height: 400px;
	// }
}
.probootstrap-heading {
	.primary-heading {
		font-family: $font-secondary;
		color: $brand-primary;
		margin: 0;
		padding: 0;
		font-size: 80px;
		@media screen and (max-width: $screen-sm) {
			font-size: 80px - 10px;
		}
	}
	.secondary-heading {
		text-transform: uppercase;
		color: $brand-white;
		margin: 0;
		padding: 0;
		letter-spacing: .05em;
		font-size: 50px;
		position: relative;
		top: -50px;
		font-weight: 700;
		line-height: 40px;
		@media screen and (max-width: $screen-sm) {
			font-size: 50px - 10px;
		}
	}
	&.dark {
		.secondary-heading {
			color: $brand-black;
		}
	}
	.seperator {
		display: block;
		margin: 0 auto 10px auto;
		color: #ccc;
		font-weight: 300;
	}
}
.flexslider {
	position: relative;
	z-index: 2;
	background: none;
  border: none;
  margin: 0 0 0;
  background: $brand-primary;
  @extend .slider-height;

  .probootstrap-slider-text {
  	margin-top: 300px;
  	@media screen and (max-width: $screen-xs) {
  		margin-top: 150px;
  	}

  	.sub-heading {
  		font-size: 20px;
  		margin-top: -40px;
  		color: rgba(255,255,255,.7);
  		a {
  			color: rgba(255,255,255,1);
  		}
  	}
  }
  .slides {
  	> li {
  		@extend .slider-height;
  		background-size: cover;
  		background-position: center center;
  		background-repeat: none;
  		&.overlay {
				&:before {
					content: "";
					background: rgba(0,0,0,.2);
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
				}
  		}
  	}
  }
	.flex-direction-nav {
		@media screen and (max-width: $screen-xs) {
			display: none;
		}
	}
	.flex-direction-nav a {
	  text-decoration: none;
	  display: block;
	  width: 30px;
	  height: 30px;
	  margin: -60px 0 0;
	  position: absolute;
	  top: 50%;
	  z-index: 10;
	  overflow: hidden;
	  opacity: 0;
	  cursor: pointer;
	  color: rgba(0, 0, 0, 0.8);
	  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	  -webkit-transition: all 0.3s ease-in-out;
	  -moz-transition: all 0.3s ease-in-out;
	  -ms-transition: all 0.3s ease-in-out;
	  -o-transition: all 0.3s ease-in-out;
	  transition: all 0.3s ease-in-out;
	  background: rgba(0,0,0,.8);
	  border-radius: 0px;
	  padding: 30px;
	}
  .flex-direction-nav a:before {
  	@include icomoon;
		position: absolute;
		content: "\e929";
		transition: .3s all;
	  font-size: 30px;
	  display: inline-block;
	  color: rgba(255, 255, 255, 0.8);
		left: 50%;
	  top: 50%;
		transform: translate(-50%, -50%);
	}
	.flex-direction-nav a.flex-next:before {
		content: "\e92a";
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.flex-direction-nav .flex-prev {
  left: 0px;
}
.flex-direction-nav .flex-next {
  right: 0px;
  text-align: right;
}
.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 0px;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 0px;
}
.flex-control-paging li a {
  width: 10px;
  height: 10px;
  display: block;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-radius: 50%;
  transition: .3s all;
}
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(255, 255, 255, 0.7);
}
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(255, 255, 255, 1);
  cursor: default;
}
.flex-control-paging {
	position: absolute;
	right: 30px;
	bottom: 0;
	z-index: 20;
}

/* Owl carousel override style */
.owl-carousel {
	margin-bottom: 100px;
	&.border-rounded {
		.item {
			border: 1px solid rgba(0,0,0,.1);
			border-radius: 4px;
			overflow: hidden;
		}
		
	}
}
.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls, {
	margin-top: 0;
}
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
	top: 50%;
	// margin-top: -39px;
	transform: translateY(-50%);
	z-index: 9999;
	position: absolute;
	transition: .2s all;
}
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
	top: 24%;
}
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
	right: 20px;
	
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
	left: 20px;
	
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev{
	i {
		color: $brand-black;
	}
	&:hover {
		i {
			color: $brand-black;		
		}
	}
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev {
	i {
		color: $brand-white;
	}
	&:hover {
		i {
			color: $brand-white;
		}
	}
}


.owl-theme .owl-controls .owl-nav {
	@media screen and (max-width: $screen-sm) {
		display: none;
	}
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
	background: none!important;
	i {
		font-size: 24px;
		background: rgba($brand-primary,1)!important;
		padding: 12px;
		transition: .5s all;
	}
	&:hover, &:focus {
		i {
			background: rgba($brand-primary,1)!important;
		}
	}
}
.owl-theme .owl-dots {
	position: absolute;
	bottom: -30px;	
	width: 100%;
	text-align: center;
}
.owl-carousel-fullwidth.owl-theme .owl-dots {
	bottom: -30px;	
	margin-bottom: -2.5em;
}
.owl-work.owl-theme .owl-dots {
	bottom: -30px;	
	margin-bottom: -2.5em;
}
.owl-theme .owl-dots .owl-dot span {
	width:8px;
  height:8px;
	background: rgba($brand-black, .2);
	transition: .2s all;
	border: 2px solid transparent;
	&:hover {
		background: none;
		border: 2px solid rgba($brand-black, .2);
	}
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: none;
	border: 2px solid $brand-black;
}


// simplyCountDown
.date-countdown {
	> div {
		float: left;
		text-align: center;
		width: 25%;
		@media screen and (max-width: $screen-sm) {
			width: 50%;
		}
		@media screen and (max-width: $screen-xs) {
			width: 100%;
		}
		.simply-amount {
			font-size: 72px;
			line-height: 60px!important;
			text-transform: uppercase;
			font-family: $font-primary;
		}
		.simply-word {
			display: block;
			font-family: $font-secondary;
			text-transform: uppercase;
			font-size: 16px;
			letter-spacing: .2em;
			color: rgba(255,255,255,.3);
		}
	}
}

// magnific popup
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out; 
  -moz-transition: all 0.15s ease-out; 
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out; 
  -moz-transition: all 0.15s ease-out; 
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.image-link {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}


/* This block of CSS adds opacity transition to background */
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
	padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;
}
/* aligns caption to center */
.mfp-title {
  text-align: center;
  padding: 6px 0;
}
.image-source-link {
  color: #DDD;
}


// Helper
.probootstrap-gutter0 {
	> div[class*='col-'] {
		padding-right: 0px;
		padding-left: 0px;
		@media screen and (max-width: $screen-xs) {
			padding-right: 15px;
			padding-left: 15px;
		}
	}
}

.probootstrap-gutter10 {
	> div[class*='col-'] {
		padding-right: 5px!important;
		padding-left: 5px!important;
		@media screen and (max-width: $screen-xs) {
			padding-right: 15px;
			padding-left: 15px;
		}
	}
}

.probootstrap-gutter30 {
	> div[class*='col-'] {
		padding-right: 15px;
		padding-left: 15px;
		@media screen and (max-width: $screen-xs) {
			padding-right: 15px;
			padding-left: 15px;
		}
	}
}

.probootstrap-gutter40 {
	> div[class*='col-'] {
		padding-right: 20px;
		padding-left: 20px;
		@media screen and (max-width: $screen-xs) {
			padding-right: 15px;
			padding-left: 15px;
		}
	}
}
.probootstrap-gutter60 {
	> div[class*='col-'] {
		padding-right: 30px;
		padding-left: 30px;
		@media screen and (max-width: $screen-xs) {
			padding-right: 15px;
			padding-left: 15px;
		}
	}
}
.mb0 {
	margin-bottom: 0px;
}
.mb10 {
	margin-bottom: 10px;
}
.mb20 {
	margin-bottom: 20px;
}
.mb30 {
	margin-bottom: 30px;
}
.mb40 {
	margin-bottom: 40px;
}
.mb50 {
	margin-bottom: 50px;
}
.mb60 {
	margin-bottom: 60px;
}
.mb70 {
	margin-bottom: 70px;
}
.mb80 {
	margin-bottom: 80px;
}
.mb90 {
	margin-bottom: 90px;
}
.mb100 {
	margin-bottom: 100px;
}
.mt0 {
	margin-top: 0px;
}
.mt10 {
	margin-top: 10px;
}
.mt20 {
	margin-top: 20px;
}
.mt30 {
	margin-top: 30px;
}
.mt40 {
	margin-top: 40px;
}
.mt50 {
	margin-top: 50px;
}
.mt60 {
	margin-top: 60px;
}
.mt70 {
	margin-top: 70px;
}
.mt80 {
	margin-top: 80px;
}
.mt90 {
	margin-top: 90px;
}
.mt100 {
	margin-top: 100px;
}
.pb0 {
	padding-bottom: 0!important;
}
.img-sm-responsive {
	@media screen and (max-width: $screen-sm) {
		max-width: 100%;
	}
}
.img-xs-responsive {
	@media screen and (max-width: $screen-sm) {
		max-width: 100%;
	}
}

